
body{
    background-image: url('https://www.nordsee-zeitung.de/Bilder/Nach-zwei-Jahren-Zwangspause-kehrt-das-Kino-am-Hafen-am-5-109353.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* or "contain" to fit the entire image within the element */
    color:#939187;
    height:100vh;
    font: 1.5em sans-serif;
  }